body {
    height: 100%;
    background-color: gray;
}

#page-wrapper {
    margin: auto;
    width: 700px;
    background-color: white;
    box-shadow: 5px 10px 8px #000000;
}

h1, h2 {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 10px;
}

#red, #green, #blue{
	float: left;
    clear: left;
    width: 300px;
}
#red_value, #green_value, #blue_value {

}

.left {
	float: left;
	width: 50%;
	height: 70px;
}
.right {
	float: right;
	width: 50%;
	height: 70px;
}
#color {
	background-color: #000000;
}